.sidebar {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	width: 300px;
	margin: 20px;
	overflow-y: auto;
}

.gradReqs {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 300px;
	width: 200px;
	margin: 20px;
	overflow-y: auto;
}


.sidebar input{
}

.sidebar button{
	
}

.yearWrapper{
	display: flex;
	padding: 10px;
}

.header {
	padding: 10px;
}

.course {
	padding: 10px;
	border-style: groove;
}

.body{
	min-height: 150px;
	
}

.boardSection{
	margin-right: 150px;
}

.warning {
	color: red;
}

